a
{
	color: #DD4F24;
}

body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: "PT Sans", Arial;
	font-size: 16px;
	height: 100%;
	margin: 0;
	padding: 0;
}

footer
{
	background: #434343;
	color: #A7A7A7;
	bottom: 0;
	display: none;
	height: 30px;
	left: 0;
	padding: 0.5em 0;
	position: fixed; 
	text-align: center;
	width: 100%;
}
footer p
{
	margin: 0;
	font-size: 12px;
}

header
{
	background: #434343;
	color: white;
	height: 100px;
	margin: 0;
	padding: 0.15em;
}
header:after
{
	clear: both;
	content: "";
	display: block;
}

header figure
{
	float: left;
	text-align: bottom;
}

header #name_user
{
	float: right;
	top: 0;
	right: 0;
	font-size: 1em;
	margin: 0 0 0 0;
}
header h1
{
	font-size: 20px;
	font-weight: normal;
	display: block;
	margin: 1em 85px 1em 100px;
}
header #avatar
{
	position:  absolute;
	top: 0;
	right: 0;
	margin: 1em 1em 0 0;
	border: 5px
}
header #avatar img
{
	/*border-radius: 50%;
	width: 35px;*/
	border-radius: 5px;
	float: right;
	width: 45px;
}
header #logo img
{
	width: 90px;
}

nav
{
	background: #878787;
	font-size: 0.9em;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
	text-decoration: none;
	vertical-align: top;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.75em 0.75em;
	text-decoration: none;
}

#bienvenida
{
	display: none;
}

#btn-add
{
	background: #22BCE0;
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 1em;
	padding: 0.5em 0;
	text-decoration: none;
}

#btn-back
{
	background: #12CCE0;
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 1em;
	padding: 0.5em 0;
	text-decoration: none;
}

#contenido
{
	margin: 1em;
	padding-bottom: 100px; /*Altura del Footer*/
}
