<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />
	
	<title>{% block title %}Bienvenido a la Plataforma de Venta{% endblock %}</title>
	<link rel="stylesheet" href="/media/css/normalize.css" />
	<link rel="stylesheet" href="/media/css/estilos.css"/>
	<link rel="stylesheet" href="/media/css/responsive.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	<header>
		<figure id="logo">
			<img src="/media/images/logo.png"/>
		</figure>
		<h1 id="titulo_header">Plataforma de venta</h1>	
		
		<figure id="name_user"> 
		{% if user.is_authenticated %}
			<p>{{ user.username }}</p>
			<a href="{% url "vista_logout"%}">Logout</a>
			<figure id="avatar">
				{% if user.get_profile.photo %}
					<img src="/media/{{ user.get_profile.photo }}" width="100px" heigth="100px">
				{% endif %}
			</figure>
		{% else %}
			<a href="{% url "vista_login"%}">Login</a>
		{% endif %}
		</figure>
	</header>
		<nav>
			<ul>
				<li id="flecha-home"><a href="{% url "vista_principal" %}">#</a></li>
				<li><a href="{% url "vista_cliente" %}">Clientes</a></li>
				<li><a href="{% url "vista_productos" %}">Productos</a></li>
				<li><a href="#">Ventas</a></li>
				<li><a href="#">Compras</a></li>	
				<li><a href="{% url "vista_proveedores" %}">Proveedores</a></li>
				<li><a href="{% url "vista_empresa" %}">Empresa</a></li>	
				<li><a href="{% url "vista_contacto" %}">Contacto</a></li>	
				<li><a href="{% url "vista_about" %}">Acerca de...</a></li>	
			</ul>
		</nav>
		<!--
		<aside id="bienvenida">
			<div id="registro-user">
				<h3>Registrate para poder Trabajar en la Plataforma</h3>
				<a id="registro" href="#">Registrate acá</a>
			</div>
			<div id="btn-sociales">
				<h3>Seguinos en las Redes Sociales!!</h3>
				<img src="/media/images/facebook.jpg" width="48" heigth="48">
				<img src="/media/images/twitter.jpg" width="48" heigth="48">
			</div>
		</aside>
		-->
	<section id="contenido">
		{% block content %}

		{% endblock %}
	</section>	
	<footer>
		<p>Plataforma de Comercio y Venta</p>
		<p>Desarrollado por Corujo Gustavo Martín - Siri Ricardo. &copy; Derechos Reservados</p>
	</footer>
</body>
</html>
